h1{
text-align: center;
}
h2{

}
span{
    color: rgb(20, 220, 143);
}
h4{
   
    margin: 10px 50px 0px 50px;
 
    border-radius: 10px;
}
#k{
    background-color: violet;
    font-family: 'Notable', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: blue;
    margin: 200px 200px 0px 200px;
    align-content: left;
}
img{
    width: 50%;
    margin-top: 0px;
    margin-left: 400px;
}
#p{
    background-color: turquoise;
    color: chocolate;

}
body{
    margin: 0px;
    background-image: url("images/DFF.png");
    background-repeat: no-repeat;
}
.aa{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 100%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,pink);
 border-image-slice: 1;
    padding-left: 2%;
    margin:0px

}
section{
#op{
        width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
   
}
#a{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;


}
#b{

}
#c{

}
#o{
    text-decoration: none;
    background-color: palevioletred;
    padding:10px 20px;
    border-radius: 5px;
    color:black;
    font-weight: 700;
}
.lk{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 0px;
}